/*! @import */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");

.hudetext {
  font-family: "Yuji Syuku", serif;
}
.my-button {
  @apply py-1 px-2 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg;
}
.template-box {
  @apply border border-mjsoul-text-gold rounded-lg m-1 px-2
}
.template-title {
  @apply text-xl font-semibold text-mjsoul-text-lightblue pt-2
}
.table-head-th > tr > *,
.table-body-td > tr > *,
.table-out-div > * {
  @apply px-5 py-1 text-left text-base;
}
